* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --colorBlue: rgb(0, 217, 255);
    --blackTrans: rgba(0, 0, 0, 0.486);
    --brownTrans: #5c5b61be;
    --yellowTrans: rgba(255, 255, 0, 0.524);
    --fontStyle: ;
    --redIntxt: rgba(255, 0, 0, 0.726);
}

#header {
    background-image: url('./assets/BackgroundImg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.block:nth-child(1) {
    flex-direction: column;
    background-color: var(--blackTrans);
    padding: 2rem 3rem;
    height: 20rem;
}

#logo {
    margin: 0px;
    width: 5rem;
    justify-content: center;
    flex-direction: column;
}

.Logo-line {
    margin: 0px 0px -20px 0px;
    padding: 0.5rem 2rem;
    position: relative;
    background-color: var(--colorBlue);
}

.logo-sign {
    font-size: 6.7rem;
    align-self: center;
    color: white;
    font-weight: 600;
}

.heading {
    margin-top: -10px;
}

.heading h3,
.heading h4 {
    color: white;
    font-weight: 400;
}

.heading h3 {
    font-weight: 800;
}

.block:nth-child(2) {
    background-color: var(--brownTrans);
    height: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#lists {
    position: relative;
    float: right;
    padding-right: 4rem;
    color: white;
}

#lists ul {
    direction: rtl;
    font-weight: 900;
    margin: 0px 30px;
    font-size: 3.5rem;
    list-style-type: square;
    text-align: right;
}

#lists ul li {
    margin: 10px 0px;
}





.block-row-2:nth-child(1) {
    background-color: var(--yellowTrans);
}

.block-row-2:nth-child(2) {
    background-color: #5c5b6175;
}

.learn-pro {
    text-transform: uppercase;
    padding: 2rem 6rem;
    color: white;
    font-size: 5rem;
}

.learn-pro h1 {
    font-weight: 900;
    letter-spacing: 0.2rem;
    font-size: 7rem;
}

.learn-pro h2 {
    font-weight: 700;
    letter-spacing: 0.2rem;
    font-size: 5rem;
}

.address {
    text-align: right;
    font-size: 1.4rem;
    color: white;
}

.address span {
    font-weight: 700;
    font-size: 1.8rem;
    margin-left: 8px;
}

.txt-box #block-txt {
    padding: 1rem 3rem;
}

.txt-box #block-txt h1 {
    font-size: 6rem;
    color: var(--redIntxt);
}

.txt-box #block-txt h2 {
    color: gray;
    font-weight: 700;
    letter-spacing: 2px;
}

.txt-box #block-txt h4 {
    color: gray;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 3px;
}

.txt-box:nth-child(2) {
    background-color: #39bbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-box:nth-child(2) img {
    width: 8rem;
    height: 8rem;
}


.txt-box:nth-child(2) .subcontent {
    color: white;
    margin-top: 4.6rem;
}

.txt-box:nth-child(2) .subcontent h2 {
    font-size: 3rem;
    font-weight: 800;
}

.txt-box:nth-child(2) .subcontent p {
    font-size: 1.6rem;
    margin-top: -18px;
    font-weight: 400;
}

.heading-third-part div#sub-part {
    padding: 1rem 3rem;
}

div#sub-part #head {
    color: var(--redIntxt);
    font-weight: 800;
    font-size: 1.5rem;
}

div#sub-part .d-flex {
    margin-top: -20px;
}

div#sub-part .d-flex h1 {
    font-size: 4.6rem;
    vertical-align: top;
    color: gray;
    font-weight: 700;
}

div#sub-part .d-flex span {
    margin-top: 16px;
    color: gray;
    font-weight: 500;
    font-size: 1.0rem;
}

#head-2 {
    color: gray;
    font-size: 1.5rem;
    font-weight: 600;
}

.context {
    margin: 0px 0px;
    padding: 0rem 10rem 0rem 0rem;
}

.context p {
    font-size: 1.1rem;
    color: gray;
    line-height: 1.5;
    text-align: justify;
}

#t-home {
    padding: 10% 0%;
    text-align: right;
}

#t-home h1 {
    color: var(--colorBlue);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5.4rem;
}

#t-home p:nth-child(2) {
    font-size: 2rem;
    font-weight: 800;
    color: gray;
    letter-spacing: 2.5px;
}

#t-home p:nth-child(4) {
    color: gray;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 3px;
}

#t-home p:nth-child(5) {
    color: gray;
    font-size: 1rem;
    float: right;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 1px;
}


#t-home img {
    width: 9rem;
    height: 7rem;
    margin: 1rem 2rem;
}


.heading-third-part {
    border-bottom: 10px solid var(--redIntxt);
}





@media screen and (max-width: 2500px) {
    #t-home img {
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (max-width: 1200px) {
    .learn-pro {
        padding: 2rem 6rem;
    }

    .learn-pro h1 {
        font-size: 5rem;
    }

    .learn-pro h2 {
        font-size: 3rem;
    }

}

@media screen and (max-width: 998px) {
    .learn-pro {
        padding: 2rem 6rem;
    }

    .learn-pro h1 {
        font-size: 4rem;
    }

    .learn-pro h2 {
        font-size: 2rem;
    }

    #lists ul {
        font-size: 2.4rem;
        height: 28rem;
    }

    .txt-box #block-txt h1 {
        font-size: 4rem;
    }

    .heading-third-part div#sub-part {
        padding: 1rem 1rem;
    }

    .txt-box #block-txt h4 {
        font-size: 2rem;
    }

    #t-home h1 {
        font-size: 3.4rem;
    }
}

@media screen and (max-width: 756px) {
    #lists ul {
        font-size: 2.7rem;
    }

    .block:nth-child(2) {
        height: 30rem;
    }

    .context {
        margin: 0px 0px;
        padding: 0rem 0rem 0rem 0rem;
    }

    div#sub-part .d-flex h1 {
        font-size: 3.6rem;
    }

    .txt-box #block-txt {
        padding: 1rem 1rem;
    }

    .heading-third-part {
        border: none;
    }

    .body-third-part {
        border-bottom: 10px solid var(--colorBlue);
    }
}

@media screen and (max-width: 557px) {
    #lists ul {
        font-size: 2rem;
    }

    .learn-pro {
        padding: 2rem 1rem;
    }


    .block:nth-child(2) {
        height: 25rem;
    }

    .learn-pro h1 {
        font-size: 2.6rem;
    }

    .learn-pro h2 {
        font-size: 1.4rem;
    }
}